@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color: darkred;
    --secondary-color: white;

}

*{
    font-family: 'Times New Roman', Times, serif;
}

.header {
    background-color: var(--main-color);
}

.header .logo img{
    height: 6rem;
}

.header .icons div{
    height: 6rem;
}

.home .content h2{
    font-size: 6rem;
    text-transform: capitalize;
    color: #fff;
}

.home .content p{
    ;
}

.home .content .btn{
    ;
}

.estado .heading{
    text-transform: uppercase;
}

.estado .content p{
    ;
}

.cidades .heading{
    text-transform: uppercase;
}

.cidades .cidade h2{
    text-transform: capitalize;
}

.cidades .cidade p{
    ;
}

.sobre .heading{
    text-transform: uppercase;
}

.sobre .content p{
    ;
}

.footer .shortcut{

}

.footer .social{
    
}